---
import { t, changeLanguage } from "i18next";
import Wrapper from "../components/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
import ServiceBanner from "../components/ServiceBanner.astro";

changeLanguage("en");
---

<Layout>
  <Wrapper>
    <ServiceBanner
      image='/images/gallery/gallery-banner.jpeg'
      title={t('header.menu.3.link')}
    />
    <section class='px-[4%] py-[100px] grid gap-6'>
      <div class='grid grid-cols-3 grid-rows-3 gap-6 w-full lg:h-[1000px]'>
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-2.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-1'
          src='/images/gallery/gallery-1.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-5.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-3'
          src='/images/gallery/gallery-6.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-4.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-3.jpeg'
          alt=''
        />
      </div>
      <div class='grid grid-cols-3 grid-rows-3 gap-6 w-full lg:h-[1000px]'>
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-7.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-1'
          src='/images/gallery/gallery-8.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-9.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-3'
          src='/images/gallery/gallery-10.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-11.jpeg'
          alt=''
        />
        <img
          class='w-full h-full object-cover row-span-2'
          src='/images/gallery/gallery-12.jpeg'
          alt=''
        />
      </div>
    </section>
  </Wrapper>
</Layout>
