---
import { changeLanguage } from "i18next";
import Wrapper from "../components/Wrapper.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <Wrapper>
    <h1>Galería</h1>
  </Wrapper>
</Layout>
