---
import { changeLanguage } from 'i18next'
import Layout from '../layouts/Layout.astro'
import Wrapper from '../components/Wrapper.astro'

changeLanguage('en')
---

<Layout title='Welcome to Astro.'>
  <Wrapper>
    <h1>Halo</h1>
  </Wrapper>
</Layout>
