---
import { localizePath } from 'astro-i18next'
import { t } from 'i18next'
import Value from './Value.astro'
import Button from './Button.astro'

const menuObject = t('header.menu', { returnObjects: true })
const menuList = Object.values(menuObject)
const aboutUsId = menuList[1].href.replace('/#', '')
const contactUsHref = menuList[6].href
---

<section id={aboutUsId}>
  <div
    class='px-[4%] py-[50px] lg:py-[100px] grid gap-8 lg:gap-14 md:grid-cols-2 items-center'
  >
    <div
      class='grid grid-cols-2 grid-rows-2 gap-3 w-full h-full min-h-[350px] lg:min-h-[600px]'
    >
      <img
        class='w-full h-full object-cover row-span-2 bg-white'
        src=''
        alt=''
      />
      <img class='w-full h-full object-cover bg-white' src='' alt='' />
      <img class='w-full h-full object-cover bg-white' src='' alt='' />
    </div>

    <div class='grid gap-4'>
      <h2 class='text-3xl font-bold lg:text-5xl text-white'>
        {t('aboutus.content.title')}
      </h2>
      <p class='text-[#B5BCCB] leading-8'>{t('aboutus.content.paragraph')}</p>

      <div class='grid gap-4 lg:grid-cols-2 items-start'>
        <Value
          number='1'
          title={t('aboutus.content.values.0.title')}
          paragraph={t('aboutus.content.values.0.paragraph')}
        />
        <Value
          number='2'
          title={t('aboutus.content.values.1.title')}
          paragraph={t('aboutus.content.values.1.paragraph')}
        />
      </div>

      <a href={localizePath(contactUsHref)}>
        <Button name={t('aboutus.content.button')} />
      </a>
    </div>
  </div>
</section>
