---
import { t } from 'i18next'
---

<section>
  <div>
    <p>{t('advertising.content.paragraph')}</p>
    <button>{t('advertising.content.button')}</button>
    <div>
      <img src='/images/klipartz 2.png' alt={t('advertising.content.image')} />
    </div>
  </div>
</section>
