---
import { t } from 'i18next'
import Button from './Button.astro'
---

<section id='advertising-id' class='relative overflow-hidden bg-[#0E1113]'>
  <div
    class='relative z-10 px-[4%] py-[60px] lg:py-[20px] grid gap-8 sm:grid-flow-col sm:place-items-center md:gap-24'
  >
    <div class='grid gap-5'>
      <h3 class='text-2xl left-10 md:text-3xl md:leading-10'>
        {t('advertising.content.paragraph')}
      </h3>
      <a href='tel:+17542487978' class='w-max'>
        <Button name={t('advertising.content.button')} />
      </a>
    </div>
    <figure class='block w-full'>
      <img src='/images/advertising.png' alt={t('advertising.content.image')} />
    </figure>
  </div>
  <div
    class='z-[1] opacity-20 absolute -bottom-[159.99px] -left-[159.99px] w-[319.99px] h-[319.99px] rounded-full bg-gradient-to-b from-primary to-secondary'
  >
  </div>
</section>
