---
import { t } from 'i18next'
import BannerImage from './BannerImage.astro'

const imagesObject = t('banner.content.texts', { returnObjects: true })
const imageList = Object.values(imagesObject)

const images = [
  '/images/banner4.jpeg',
  '/images/banner3.jpeg',
  '/images/banner2.jpeg',
  '/images/banner1.jpeg'
]
---

<section
  id='banner-id'
  class='relative z-40 min-h-[700px] w-full h-screen flex items-center'
>
  <div class='swiper mySwiper w-full h-full absolute'>
    <div class='swiper-wrapper'>
      {
        imageList.map((image, index) => {
          return (
            <BannerImage
              src={images[index]}
              alt={image.alt}
              text={image.text}
            />
          )
        })
      }
    </div>
  </div>
  <div class='swiper-button-prev z-50 ml-[2%] text-white'></div>
  <div class='swiper-button-next z-50 mr-[2%] text-white'></div>

  <script>
    let swiper = new Swiper('.mySwiper', {
      slidesPerView: 1,
      loop: true,
      autoplay: {
        delay: 5000
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    })
  </script>
</section>
