---
import { t } from 'i18next'
---

<section>
  <div>
    <span>{t('banner.content.legend')}</span>
    <h1>{t('banner.content.title')}</h1>
    <p>{t('banner.content.paragraph')}</p>
    <a href=''>{t('banner.content.button')}</a>
  </div>
</section>
