---
import { t } from 'i18next'
import BarItem from './BarItem.astro'
---

<section>
  <div>
    <BarItem image='/images/Vector.png' title={t('bar.0.title.1')} paragraph={t('bar.0.paragraph.1')} />
    <BarItem image='/images/Vector 2.png' title={t('bar.1.title.2')} paragraph={t('bar.1.paragraph.2')} />
    <BarItem image='/images/Vector 1.png' title={t('bar.2.title.3')} paragraph={t('bar.2.paragraph.3')} />
  </div>
</section>
