---
import { t } from 'i18next'
import BarItem from './BarItem.astro'
const barObject = t('bar', { returnObjects: true })
const barList = Object.values(barObject)
---

<section class='relative z-40 w-full px-[6%] pb-[100px] -my-[60px] lg:px-[10%]'>
  <div
    class='w-full grid gap-8 bg-blue py-9 px-10 md:grid-cols-none md:grid-flow-col md:items-start md:gap-6'
  >
    {
      barList.map((barItem, index) => {
        const lastItem = index === barList.length - 1
        return (
          <BarItem
            key={barItem.title}
            title={barItem.title}
            paragraph={barItem.paragraph}
            isLastest={!lastItem}
            image={`/icons/bar-item-${index + 1}.svg`}
          />
        )
      })
    }
  </div>
</section>
