---
import { t } from 'i18next'
---

<footer>
  <div>
    <img src='/images/Savtek.png' alt='' />
    <div>
      <h3>{t('footer.content.0.title.1')}</h3>
      <ul>
        <li>
          <a href=''>Security Cameras</a>
        </li>
        <li>
          <a href=''>Voice/Data</a>
        </li>
        <li>
          <a href=''>TV Installation</a>
        </li>
        <li>
          <a href=''>Landscape Lighting</a>
        </li>
        <li>
          <a href=''>Audio System</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>{t('footer.content.1.title.2')}</h3>
      <ul>
        <li>
          <a href=''>About Us</a>
        </li>
        <li>
          <a href=''>Servicios</a>
        </li>
        <li>
          <a href=''>Portafolio</a>
        </li>
        <li>
          <a href=''>Nuestros Clientes</a>
        </li>
        <li>
          <a href=''>Contáctanos</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>{t('footer.content.2.title.3')}</h3>
      <ul>
        <li>
          <a href=''>Terms of use</a>
        </li>
        <li>
          <a href=''>Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div>
      <p>{t('footer.copyright')}</p>
      <img src='/images/Vector 3.png' alt='' />
      <img src='/images/Vector 4.png' alt='' />
      <img src='/images/Vector 5.png' alt='' />
    </div>
  </div>
</footer>
