---
import { t } from 'i18next'
---

<section>
  <div>
    <div>
      <h2>{t('ourbrands.content.title')}</h2>
      <p>{t('ourbrands.content.paragraph')}</p>
    </div>
    <img src='/images/klipartz 7.png' alt='' />
    <img src='/images/Group 98.png' alt='' />
    <img src='/images/klipartz 7.png' alt='' />
    <img src='/images/Group 98.png' alt='' />
  </div>
</section>
