---
import { t } from 'i18next'
import Service from './Service.astro'
---

<section>
  <div>
    <h2>{t('services.title')}</h2>
    <Service
      icon='/icons/Camera.svg'
      title={t('services.content.0.title.1')}
      paragraph={t('services.content.0.paragraph.1')}
      link={t('services.content.0.button.1')}
    />
    <Service
      icon='/icons/Voice.svg'
      title={t('services.content.1.title.2')}
      paragraph={t('services.content.1.paragraph.2')}
      link={t('services.content.1.button.2')}
    />
  </div>
</section>
