---
import { t } from 'i18next'
import Button from './Button.astro'
import { localizePath } from 'astro-i18next'
const { className, id } = Astro.props

const servicesObject = t('services.content', { returnObjects: true })
const serviceList = Object.values(servicesObject)
---

<div
  id={id}
  class={`${className} bg-black absolute lg:static lg:grid top-10 right-0  hidden gap-8 border-[1px] border-[#4f4f4f] w-[294.41px] h-[438px] lg:w-full lg:h-[500px] p-5`}
>
  <h3 class='text-white text-xl font-bold lg:text-2xl'>Servicios</h3>
  <nav>
    <ul class='grid gap-6 px-3'>
      {
        serviceList.map((service) => (
          <li>
            <a
              class='flex justify-between items-center'
              href={localizePath(`/services${service.link}`)}
            >
              {service.title}
              <img src='/icons/nabvarItem.svg' alt='' />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class='w-full h-full grid place-items-center'>
    <a href={localizePath('/#contact')}>
      <Button name={t('services.contact')} />
    </a>
  </div>
</div>

<style>
  .active {
    display: grid;
  }
</style>
