---
import { t } from 'i18next'
import Testimonial from './Testimonial.astro'

const testimonialObject = t('testimonies.content.items', {
  returnObjects: true
})
const testimonialList = Object.values(testimonialObject)

const menuObject = t('header.menu', { returnObjects: true })
const menuList = Object.values(menuObject)

const testimonialsUsId = menuList[4].href.replace('/#', '')
---

<section id={testimonialsUsId}>
  <div class='px-[4%] py-[50px] lg:pb-[100px] grid gap-4 lg:gap-8 items-center'>
    <div class='w-full md:w-3/6 grid gap-5 place-self-center'>
      <h2 class='text-3xl font-bold lg:text-5xl text-white text-center'>
        {t('testimonies.content.title')}
      </h2>
      <p class='paragraph text-gray leading-8 text-center'>
        {t('testimonies.content.paragraph')}
      </p>
    </div>
    <div class='grid gap-8 md:grid-cols-3'>
      {
        testimonialList.map((item, index) => {
          return (
            <Testimonial
              image={`/images/testimonial-${index + 1}.png`}
              name={item.person}
              role={item.role}
              paragraph={item.paragraph}
            />
          )
        })
      }
    </div>
  </div>
</section>
