---
const { number, title, paragraph } = Astro.props
---

<article class='grid gap-3'>
  <div class='grid gap-5 items-center auto-cols-max grid-flow-col'>
    <span
      class='flex justify-center items-center w-[50px] h-[50px] rounded-full bg-gradient-to-b from-primary to-secondary text-lg'
      >{number}</span
    >
    <h3 class='font-semibold text-2xl'>{title}</h3>
  </div>

  <p class='text-gray leading-8'>{paragraph}</p>
</article>
